@import "modules/colors";
@import "modules/profile";
@import "modules/status";
@import "modules/button";
@import "modules/navbar";
@import "modules/footer";
@import "pages/home";
@import "pages/users";
@import "pages/remind";

// Main
* {
  margin: 0;
}

a:focus, a:active,
.btn:focus, .btn:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  //border: 0;
  outline: 0 !important;
  appearance: none;
}

html {
  overflow-y: scroll;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 51px;
  background: $backgroundColor url(../../assets/images/pages/noise-2.png) repeat scroll 0 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden;
}

.navbar-padding {
  padding-top: 30px;
}

.header-padding {
  padding-top: 30px;
}

.container h1:first-of-type {
  margin-top: 0;
}

.alert {
  text-align: center;
  font-weight: 700;
}

.alert ul li {
  list-style: none;
  margin-left: -40px;
}

.bold {
  font-weight: 700;
}

.alert-info-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  left: 0;
  z-index: 1000;
}

.alert-info {
  color: #31708F;
  background-color: rgba(217, 237, 247, 0.8);
  border-color: #BCE8F1;
  margin-bottom: 0;

  button {
    display: none;
  }
}

.alert-danger {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 51px;
}

.alert-danger-flash {
  color: #A94442;
  background-color: rgba(242, 222, 222, 0.80);
  border-color: #EBCCD1;
  margin-bottom: 0;
}

.centered {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.col-md-6_5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

input, textarea {
  color: #000;
}

.placeholder {
  color: #aaa;
}

.media {
  margin-top: 0;
}

@media only screen and (max-width : 319px) {
  body {
    display: none;
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .col-md-6_5 {
    float: left
  }

  .col-md-6_5 {
    width: 54.16667%;
  }

  .wrapper {
    margin: 0 auto -109px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}