@import "modules/status";
@import "modules/button";
@import "modules/navbar";
@import "modules/footer";
@import "pages/home";
@import "pages/users";
@import "pages/remind";

// Main
* {
  margin: 0;
}

a:focus, a:active,
.btn:focus, .btn:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0 !important;
  appearance: none;

}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 90px;
  background-color: darken(white, 5%);
  font-family: 'Roboto', sans-serif;
}

.container h1:first-of-type {
  margin-top: 0;
}

.alert {
  text-align: center;
  font-weight: 700;
}

.alert ul li {
  list-style: none;
  margin-left: -40px;
}

.bold {
  font-weight: 700;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .wrapper {
    position: relative;
    width: 100%;
  }

  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow-x: hidden;
  }

  .alert-info {
    position: relative;
    z-index: 9999;

    button {
      display: none;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .wrapper {
    position: relative;
    width: 100%;
  }

  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow-x: hidden;
  }

  .alert-info {
    position: relative;
    z-index: 9999;

    button {
      display: none;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .wrapper {
    position: relative;
    width: 100%;
  }

  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow-x: hidden;
  }

  .alert-info {
    position: relative;
    z-index: 9999;

    button {
      display: none;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .wrapper {
    position: relative;
    width: 100%;
  }

  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -110px;
    overflow-x: hidden;
  }

  .alert-info-wrapper {
    position: fixed;
    top: 0;
    right: 35px;
    height: 100%;
    width: 200px;
  }

  .alert-info-wrapper .alert-info {
    position: absolute;
    top: 125px;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: 9999;
  }

  .alert-info {
    button {
      display: none;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .wrapper {
    position: relative;
    width: 100%;
  }

  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -110px;
    overflow-x: hidden;
  }

  .alert-info-wrapper {
    position: fixed;
    top: 0;
    right: 35px;
    height: 100%;
    width: 300px;
  }

  .alert-info-wrapper .alert-info {
    position: absolute;
    top: 125px;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: 9999;
  }

  .alert-info {
    button {
      display: none;
    }
  }
}