.status-media {
  border: 1px solid #e3e3e3;
  border-bottom: none;
  background: white;
  padding: 1em; }

.status-media-heading {
  color: #409dd1;
  position: relative;
  top: 5px; }

.status-media-body {
  color: #b3bac0;
  font-size: 1.2em;
  padding: 0.5em 1em 1em 1em; }

.status-media-object {
  position: relative;
  top: 13px;
  left: 10px;
  border: 1px solid #eeeeee; }

.status-media-time {
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.15em;
  color: #ccd0d3; }

.status-post {
  border: 1px solid #e3e3e3;
  background: white;
  margin-bottom: 3em;
  padding: 0; }
  .status-post textarea {
    border: none; }
    .status-post textarea:focus {
      box-shadow: none; }
  .status-post .status-post-submit {
    border-top: 1px solid #e9e9e9;
    padding: 0.5em 1em;
    margin-bottom: 0;
    overflow: hidden;
    background: #fdfcfc; }
    .status-post .status-post-submit .btn {
      float: right;
      background: #2eb1e4;
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      font-family: helvetica; }
      .status-post .status-post-submit .btn:hover {
        background: #2790b1; }

.comments_create-form textarea {
  border: 1px solid #e3e3e3;
  border-top: none;
  border-radius: 0; }

.comments {
  margin-bottom: 5em; }

.comments_comment {
  background: #e6e6e6;
  margin-top: 0;
  border: 1px solid #d9d9d9;
  border-bottom: 1px solid #e3e3e3; }

textarea.form-control.comment-textarea {
  padding-bottom: 0;
  height: 34px; }

/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
.btn-primary {
  background: #00bae9;
  border: 1px solid #0091b6; }
  .btn-primary:hover {
    background: #007d9d;
    border: 1px solid #00546a; }

.btn-strong {
  font-weight: 700; }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  input.btn.btn-primary.btn-strong.btn-login {
    background: #00a6d0;
    border: 1px solid #007d9d;
    width: 100%;
    margin-top: 6px; }
    input.btn.btn-primary.btn-strong.btn-login:hover {
      background: #007d9d;
      border: 1px solid #00546a; }
 }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  input.btn.btn-primary.btn-strong.btn-login {
    background: #00a6d0;
    border: 1px solid #007d9d;
    width: 100%;
    margin-top: 6px; }
    input.btn.btn-primary.btn-strong.btn-login:hover {
      background: #007d9d;
      border: 1px solid #00546a; }
 }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  input.btn.btn-primary.btn-strong.btn-login {
    background: #00a6d0;
    border: 1px solid #007d9d;
    margin-top: 0; }
    input.btn.btn-primary.btn-strong.btn-login:hover {
      background: #007d9d;
      border: 1px solid #00546a; }
 }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  input.btn.btn-primary.btn-strong.btn-login {
    background: #00a6d0;
    border: 1px solid #007d9d;
    margin-top: 0; }
    input.btn.btn-primary.btn-strong.btn-login:hover {
      background: #007d9d;
      border: 1px solid #00546a; }
 }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  input.btn.btn-primary.btn-strong.btn-login {
    background: #00a6d0;
    border: 1px solid #007d9d;
    margin-top: 0; }
    input.btn.btn-primary.btn-strong.btn-login:hover {
      background: #007d9d;
      border: 1px solid #00546a; }
 }

.navbar-default {
  background-color: #00bae9;
  border-bottom: 1px solid #006983;
  box-shadow: 0 2px 5px #006983;
  padding: 5px; }
  .navbar-default .navbar-brand {
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 28px;
    font-weight: 700; }
  .navbar-default .navbar-nav > li > a {
    color: #FFFFFF; }
    .navbar-default .navbar-nav > li > a:hover {
      color: #2c6c91; }

.navbar-default .navbar-nav > .active > a {
  background-color: #0091b6; }

.navbar-gravatar {
  float: left;
  position: relative;
  top: -6px;
  left: -9px;
  border: 1px solid #555;
  margin-left: 4px; }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  form.navbar-form {
    margin: 0; }

  .forgot-password-icon {
    display: none; }

  .forgot-password-text {
    text-align: center;
    padding-top: 10px; }
    .forgot-password-text a {
      color: white;
      font-weight: 700;
      font-size: 15px; }
 }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  form.navbar-form {
    margin: 0; }

  .forgot-password-icon {
    display: none; }

  .forgot-password-text {
    text-align: center;
    padding-top: 10px; }
    .forgot-password-text a {
      color: white;
      font-weight: 700;
      font-size: 15px; }
 }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  form.navbar-form {
    margin: 8px -15px; }

  .forgot-password-icon {
    color: white;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    display: inline-block; }

  p.forgot-password-text {
    display: none; }

  li.forgot-password-text {
    display: block;
    padding-bottom: 9px; }
    li.forgot-password-text a {
      font-weight: 700;
      color: #337AB7; }
 }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  form.navbar-form {
    margin: 8px -15px; }

  .forgot-password-icon {
    color: white;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    display: inline-block; }

  p.forgot-password-text {
    display: none; }

  li.forgot-password-text {
    display: block;
    padding-bottom: 9px; }
    li.forgot-password-text a {
      font-weight: 700;
      color: #337AB7; }
 }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  form.navbar-form {
    margin: 8px -15px; }

  .forgot-password-icon {
    color: white;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    display: inline-block; }

  p.forgot-password-text {
    display: none; }

  li.forgot-password-text {
    display: block;
    padding-bottom: 9px; }
    li.forgot-password-text a {
      font-weight: 700;
      color: #337AB7; }
 }

.footer-wrapper {
  padding: 2em;
  background-color: #f0f0f0;
  border-top: 1px solid #d9d9d9;
  box-shadow: 0 -1px 15px #d9d9d9; }

.footer-text {
  display: inline; }

.footer-copyright {
  display: inline;
  vertical-align: middle;
  padding-top: 7px;
  margin-left: -40px;
  font-size: 15px;
  letter-spacing: -1px;
  color: #666666; }

.footer-github {
  display: inline; }
  .footer-github a {
    margin-left: 10px;
    color: gray; }
    .footer-github a:hover {
      color: #4183C4; }

.footer-linkin {
  display: inline; }
  .footer-linkin a {
    margin-left: 10px;
    color: gray; }
    .footer-linkin a:hover {
      color: #0976b4; }

.footer-google-plus {
  display: inline; }
  .footer-google-plus a {
    margin-left: 10px;
    color: gray; }
    .footer-google-plus a:hover {
      color: #dd4b39; }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  footer {
    position: relative;
    margin: 0 auto;
    width: 100%;
    bottom: 0;
    z-index: 0; }
 }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  footer {
    position: relative;
    margin: 0 auto;
    width: 100%;
    bottom: 0;
    z-index: 0; }
 }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  footer, .push {
    height: 85px; }

  footer {
    position: relative;
    margin: 0 auto;
    width: 100%;
    bottom: 0;
    z-index: 0; }
 }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  footer, .push {
    height: 85px; }

  footer {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    bottom: 0;
    z-index: 0; }
 }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  footer, .push {
    height: 85px; }

  footer {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    bottom: 0;
    z-index: 0; }
 }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .home-header {
    text-align: center;
    font-size: 35px;
    padding: 0.5em 0; }

  .home-subheader {
    text-align: center;
    font-size: 16px;
    padding-bottom: 3em; }

  .register-header {
    text-align: center;
    padding-bottom: 0.7em; }

  .home-image {
    background-image: url("../images/pages/home-image.jpg");
    background-size: 285px auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 285px;
    height: 155px;
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }

  .registration-form {
    margin-bottom: 50px; }
 }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .home-header {
    text-align: center;
    font-size: 45px;
    padding: 0.5em 0; }

  .home-subheader {
    text-align: center;
    font-size: 18px;
    padding-bottom: 3em; }

  .register-header {
    text-align: center;
    padding-bottom: 0.7em; }

  .home-image {
    background-image: url("../images/pages/home-image.jpg");
    background-size: 435px auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 435px;
    height: 280px;
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }
 }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  input.form-control.login-field {
    height: 30px;
    width: 200px;
    font-size: 13px; }

  .home-header {
    text-align: center;
    font-size: 60px;
    padding: 0.5em 0; }

  .home-subheader {
    text-align: center;
    font-size: 20px;
    padding-bottom: 3em; }

  .register-header {
    text-align: center;
    padding-bottom: 0.7em; }

  .home-image {
    background-image: url("../images/pages/home-image.jpg");
    background-size: 550px auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 550px;
    height: 355px;
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }
 }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  input.form-control.login-field {
    height: 30px;
    width: 200px;
    font-size: 13px; }

  .home-header {
    text-align: center;
    font-size: 60px;
    padding: 0.5em 0; }

  .home-subheader {
    text-align: center;
    font-size: 20px;
    padding-bottom: 3em; }

  .register-header {
    text-align: center;
    padding-bottom: 0.7em; }

  .home-image {
    background-image: url("../images/pages/home-image.jpg");
    background-size: 500px auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 500px;
    height: 355px;
    border-radius: 35px;
    margin-bottom: 50px; }
 }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  input.form-control.login-field {
    height: 30px;
    width: 200px;
    font-size: 13px; }

  .home-header {
    text-align: center;
    font-size: 60px;
    padding: 0.5em 0; }

  .home-subheader {
    text-align: center;
    font-size: 20px;
    padding-bottom: 3em; }

  .register-header {
    text-align: center;
    padding-bottom: 0.7em; }

  .home-image {
    background-image: url("../images/pages/home-image.jpg");
    background-size: 500px auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 500px;
    height: 355px;
    border-radius: 35px;
    margin-bottom: 50px; }
 }

.users {
  margin-bottom: 3em; }

.user-block {
  text-align: center;
  list-style: none; }
  .user-block .avatar {
    margin: auto; }

.user-block .media-object {
  margin: auto; }

/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  padding-top: 90px;
  background-color: #fcfcfc;
  font-family: 'Roboto', sans-serif; }

.container h1:first-of-type {
  margin-top: 0; }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .wrapper {
    position: relative;
    width: 100%; }

  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow-x: hidden; }
 }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .wrapper {
    position: relative;
    width: 100%; }

  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow-x: hidden; }
 }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .wrapper {
    position: relative;
    width: 100%; }

  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow-x: hidden; }
 }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .wrapper {
    position: relative;
    width: 100%; }

  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -85px;
    padding: 0 0 85px;
    overflow-x: hidden; }
 }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .wrapper {
    position: relative;
    width: 100%; }

  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -85px;
    padding: 0 0 85px;
    overflow-x: hidden; }
 }
