.profile-header-wrapper {
  position: relative; }

.profile-header-wrapper .profile-header {
  height: 175px; }

.profile-header-wrapper-inner {
  position: relative;
  width: 100%; }

.profile-header {
  max-width: 2560px;
  position: relative; }

.profile-header-image-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -99; }
  .profile-header-image-frame img {
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    margin: auto 0;
    width: 100%; }

.profile-header-body-padding {
  position: absolute;
  left: 0;
  background-color: white;
  border-bottom: 1px solid #E1E8ED;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 60px;
  width: 100%; }

.profile-header-image {
  background-image: url("https://pbs.twimg.com/profile_banners/2978349043/1421121452/1500x500");
  background-repeat: no-repeat;
  background-position: center center; }

.profile-body-wrapper {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.profile-header-avatar-wrapper {
  z-index: 3;
  left: 10px;
  bottom: 0;
  position: absolute; }

.profile-header-avatar {
  background: none repeat scroll 0 0 #FFF;
  border: 5px solid #FFF;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
  box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
  height: 200px;
  position: relative;
  width: 200px; }
  .profile-header-avatar img {
    padding-top: 1px;
    padding-left: 1px; }

.img-round {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.4); }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 399px) {
  .profile-header-wrapper-nav .profile-header {
    height: 250px; }
  .profile-header-body-padding {
    bottom: 90px; }
  .profile-header-image-frame {
    margin-top: -145px; } }

@media only screen and (min-width: 400px) and (max-width: 479px) {
  .profile-header-wrapper-nav .profile-header {
    height: 275px; }
  .profile-header-body-padding {
    bottom: 90px; }
  .profile-header-image-frame {
    margin-top: -145px; } }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) and (max-width: 623px) {
  .profile-header-wrapper-nav .profile-header {
    height: 300px; }
  .profile-header-body-padding {
    bottom: 90px; }
  .profile-header-image-frame {
    margin-top: -142px; } }

@media only screen and (min-width: 624px) and (max-width: 767px) {
  .profile-header-wrapper-nav .profile-header {
    height: 325px; }
  .profile-header-body-padding {
    bottom: 80px; }
  .profile-header-image-frame {
    margin-top: -138px; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 879px) {
  .profile-header-wrapper-nav .profile-header {
    height: 350px; }
  .profile-header-body-padding {
    bottom: 60px; }
  .profile-header-image-frame {
    margin-top: -100px; } }

@media only screen and (min-width: 880px) and (max-width: 991px) {
  .profile-header-wrapper-nav .profile-header {
    height: 375px; }
  .profile-header-body-padding {
    bottom: 60px; }
  .profile-header-image-frame {
    margin-top: -100px; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1095px) {
  .profile-header-wrapper-nav .profile-header {
    height: 400px; }
  .profile-header-body-padding {
    bottom: 60px; }
  .profile-header-image-frame {
    margin-top: -100px; } }

@media only screen and (min-width: 1096px) and (max-width: 1199px) {
  .profile-header-wrapper-nav .profile-header {
    height: 450px; }
  .profile-header-body-padding {
    bottom: 60px; }
  .profile-header-image-frame {
    margin-top: -100px; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) and (max-width: 1349px) {
  .profile-header-wrapper-nav .profile-header {
    height: 500px; }
  .profile-header-body-padding {
    bottom: 60px; }
  .profile-header-image-frame {
    margin-top: -100px; } }

@media only screen and (min-width: 1350px) {
  .profile-header-wrapper-nav .profile-header {
    height: 500px; }
  .profile-header-image-frame {
    margin-top: -100px; } }

@media only screen and (min-width: 1350px) and (max-width: 1650px) {
  .profile-header-body-padding {
    bottom: 15px; } }

@media only screen and (min-width: 1651px) {
  .profile-header-body-padding {
    bottom: 0; } }

.status-media {
  position: relative;
  border: 1px none #e3e3e3;
  border-bottom: none;
  background: white;
  padding: 1em; }

.status-media-heading {
  font-size: 15px;
  font-weight: 700;
  color: #409dd1;
  position: relative;
  top: 5px; }

.media-heading {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 0; }

.status-media-body {
  word-wrap: break-word;
  word-break: break-all;
  overflow: auto; }

.status-media-object {
  position: relative;
  top: 13px;
  left: 10px;
  border: 1px solid #eeeeee; }

.status-media-time {
  font-size: 0.8em;
  letter-spacing: 0.05em;
  color: #8c8c8c;
  font-weight: 700; }

.status-media-dropdown {
  position: absolute;
  top: 10px;
  right: 15px; }

ul.dropdown-menu {
  position: absolute;
  top: 26px;
  right: 21px;
  left: auto;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 14em;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none outside none;
  background-color: #FFF;
  -moz-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176); }

.status-dropdown-user {
  min-width: 65px !important; }

.comment-dropdown-user {
  min-width: 65px !important; }

.status-media-dropdown ul.dropdown-menu {
  padding: 10px 0; }

.no-status-fix p {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05) inset, 0 0 0 rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05) inset, 0 0 0 rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05) inset, 0 0 0 rgba(0, 0, 0, 0.05) inset;
  text-align: center;
  padding: 2em; }

.status-post {
  background: white;
  -webkit-box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
  padding: 0; }
  .status-post form {
    border: 1px solid #BFBFBF; }
  .status-post textarea {
    border: none;
    resize: none;
    height: 55px; }
    .status-post textarea:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
  .status-post .status-post-submit {
    border-top: 1px solid #e9e9e9;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    padding: .5em 1em;
    margin-bottom: 0;
    overflow: hidden;
    background: #fdfcfc; }
    .status-post .status-post-submit .btn {
      float: right;
      background: #00bae9;
      /* Old browsers */
      background: -moz-linear-gradient(top, #00bae9 0%, #1394e9 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00bae9), color-stop(100%, #1394e9));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #00bae9 0%, #1394e9 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #00bae9 0%, #1394e9 100%);
      /* Opera 11.10+ */
      /* IE10+ */
      background: -webkit-gradient(linear, left top, left bottom, from(#00bae9), to(#1394e9));
      background: linear-gradient(to bottom, #00bae9 0%, #1394e9 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bae9', endColorstr='#1394e9',GradientType=0 );
      /* IE6-9 */
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      font-family: helvetica;
      border: 1px solid #0091B6; }
      .status-post .status-post-submit .btn:hover {
        background: #2790b1; }
      .status-post .status-post-submit .btn:active, .status-post .status-post-submit .btn:focus {
        border: 1px solid #0091B6 !important; }

.status-comments-wrapper {
  border: 1px solid #bfbfbf;
  -webkit-box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px; }

.comments_create-form textarea {
  border: 1px solid #e3e3e3;
  border-top: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  resize: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

.comments {
  margin-bottom: 0; }

.comments_comment {
  background: #FAFAFA;
  margin-top: 0;
  border-top: 1px solid #d9d9d9; }
  .comments_comment img {
    border: 1px solid rgba(0, 0, 0, 0.4); }

article.comments_comment.media.status-media {
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0; }

.comments_create-form .form-group {
  margin-bottom: 0; }

textarea.form-control.comment-textarea {
  padding-bottom: 0;
  height: 34px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-top: 1px solid #D9D9D9; }
  textarea.form-control.comment-textarea:focus {
    border: 1px solid #0091b6; }

.timeline-status {
  position: relative; }

.timeline-sidebar {
  float: left;
  width: 23%;
  padding-right: 10px; }
  .timeline-sidebar ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
    padding-right: 15px; }
    .timeline-sidebar ul li {
      text-align: right; }

.timeline-wrapper {
  background: #E0E1E2 url(../images/pages/noise-2.png) repeat scroll 0 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  -webkit-border-image: none;
  -moz-border-image: none;
  -o-border-image: none;
  border-image: none;
  border-width: 0 1px;
  padding: 1px 32px;
  -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset; }

.timeline-wrapper-last-child {
  border-width: 0 1px 1px; }

.timeline-sidebar-user-image {
  float: right;
  margin-top: 5px; }
  .timeline-sidebar-user-image img {
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }

.attach-image-wrapper {
  float: left; }
  .attach-image-wrapper label {
    margin-bottom: 0; }
  .attach-image-wrapper input {
    font-size: 0.9em;
    display: inline-block; }
  .attach-image-wrapper .fa-picture-o {
    font-size: 1.3em;
    cursor: pointer; }
    .attach-image-wrapper .fa-picture-o:hover, .attach-image-wrapper .fa-picture-o:active, .attach-image-wrapper .fa-picture-o:focus {
      color: #006983; }

.status-image-box {
  text-align: center;
  background-color: #ffffff; }

.delete-comment button {
  border: none; }
.delete-comment i {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.6); }

.pagination {
  margin-top: 5px;
  margin-bottom: 25px; }
  .pagination li a {
    border: 1px solid #C6C6C6;
    color: #666;
    font-weight: 700;
    font-size: 0.9em;
    background: #F3F3F3;
    /* Old browsers */
    background: -moz-linear-gradient(top, #F3F3F3 0%, #DDDDDD 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F3F3F3), color-stop(100%, #DDDDDD));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3F3F3 0%, #DDDDDD 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3F3F3 0%, #DDDDDD 100%);
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(#DDDDDD));
    background: linear-gradient(to bottom, #F3F3F3 0%, #DDDDDD 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F3F3F3', endColorstr='#DDDDDD',GradientType=0 );
    /* IE6-9 */ }
    .pagination li a:hover, .pagination li a:active, .pagination li a:focus {
      color: #444;
      border: 1px solid #C6C6C6; }

.status-options-box {
  position: relative;
  height: 40px;
  margin: 1px 0 0;
  background: #E6E6E6 url(../images/pages/white-gradient-100px.png) repeat-x scroll 50% 50%;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 0 3px rgba(0, 0, 0, 0.1); }
  .status-options-box .status-more-options {
    position: relative;
    display: inline;
    float: right;
    height: 100%;
    width: 48px;
    border-left: 1px solid #DDD;
    -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.9) inset;
    -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.9) inset;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.9) inset;
    background: transparent url(../images/pages/feed-assets.png) no-repeat scroll 7px -94px; }
    .status-options-box .status-more-options:hover {
      background-color: rgba(255, 255, 255, 0.8); }

.status-like-button-wrapper {
  position: relative;
  float: left;
  display: inline;
  border-right: 1px solid #DDD;
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.9);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.9); }
  .status-like-button-wrapper .status-like-button {
    height: 40px;
    width: 48px;
    -moz-user-select: none;
    background: transparent url(../images/pages/feed-assets.png) no-repeat scroll 8px 6px;
    border: none; }
  .status-like-button-wrapper .status-liked {
    background: transparent url(../images/pages/feed-assets.png) no-repeat scroll 8px -44px; }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .timeline-desktop {
    display: none; }
  .timeline-mobile {
    display: block; }
  .timeline-status-form-offset {
    margin-left: 0; } }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .timeline-desktop {
    display: none; }
  .timeline-mobile {
    display: block; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .timeline-desktop {
    display: none; }
  .timeline-mobile {
    display: block; } }

@media only screen and (max-width: 992px) {
  .media-body {
    display: block;
    margin-left: 42px; }
    .media-body input {
      width: 99.5%;
      padding: 5px; }
  .status-media-mobile {
    position: relative;
    border: 1px none #e3e3e3;
    border-bottom: none;
    background: white;
    padding: 1em; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .media-body {
    display: block; }
    .media-body input {
      width: 99.9%;
      padding: 5px; }
  .timeline-desktop {
    display: block; }
  .timeline-mobile {
    display: none; }
  .timeline-sidebar ul {
    width: 162px; }
  .timeline-status-form-offset {
    margin-left: 23%; }
  .status-media-mobile {
    display: none; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .timeline-desktop {
    display: block; }
  .timeline-mobile {
    display: none; }
  .timeline-sidebar ul {
    width: 213px; } }

.btn-primary {
  background: #00bae9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #00bae9 0%, #00bae9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00bae9), color-stop(100%, #00bae9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00bae9 0%, #00bae9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00bae9 0%, #00bae9 100%);
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, left top, left bottom, from(#00bae9), to(#00bae9));
  background: linear-gradient(to bottom, #00bae9 0%, #00bae9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bae9', endColorstr='#00bae9',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #0091b6; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #00a6d0;
    /* Old browsers */
    background: -moz-linear-gradient(top, #00a6d0 0%, #007d9d 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a6d0), color-stop(100%, #007d9d));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00a6d0 0%, #007d9d 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00a6d0 0%, #007d9d 100%);
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#00a6d0), to(#007d9d));
    background: linear-gradient(to bottom, #00a6d0 0%, #007d9d 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6d0', endColorstr='#007d9d',GradientType=0 );
    /* IE6-9 */
    border: 1px solid #00546a; }

.oauth-login-btn-wrapper {
  margin-bottom: 4em; }
  .oauth-login-btn-wrapper table {
    position: relative;
    width: 100%;
    height: 2em; }
    .oauth-login-btn-wrapper table td {
      width: 45%;
      border-top: 1px solid rgba(60, 59, 59, 0.8); }
    .oauth-login-btn-wrapper table .oauth-login-or {
      position: absolute;
      top: -0.563em;
      width: 10%;
      border: none;
      text-align: center;
      font-weight: 700;
      color: rgba(60, 59, 59, 0.8); }
  .oauth-login-btn-wrapper .btn-oauth-google {
    background: rgba(128, 128, 128, 0.3);
    border: 1px solid rgba(128, 128, 128, 0.6);
    color: rgba(60, 59, 59, 0.8); }
    .oauth-login-btn-wrapper .btn-oauth-google i {
      padding-top: 0.05em;
      vertical-align: middle;
      font-size: 1.6em;
      font-weight: 700;
      margin-right: 0.15em; }
    .oauth-login-btn-wrapper .btn-oauth-google:hover, .oauth-login-btn-wrapper .btn-oauth-google:focus, .oauth-login-btn-wrapper .btn-oauth-google:active {
      background: #DD4B39;
      /* Old browsers */
      background: -moz-linear-gradient(top, #DD4B39 0%, #c23321 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DD4B39), color-stop(100%, #c23321));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #DD4B39 0%, #c23321 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #DD4B39 0%, #c23321 100%);
      /* Opera 11.10+ */
      /* IE10+ */
      background: -webkit-gradient(linear, left top, left bottom, from(#DD4B39), to(#c23321));
      background: linear-gradient(to bottom, #DD4B39 0%, #c23321 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DD4B39', endColorstr='#c23321',GradientType=0 );
      /* IE6-9 */
      border: 1px solid #ac2d1e;
      color: #ffffff; }

.btn-strong {
  font-weight: 700; }

.link-button {
  width: 100%;
  background: none;
  border: none;
  clear: both;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  line-height: 1.42857;
  cursor: pointer;
  padding: 3px 3px 3px 3px; }
  .link-button:hover, .link-button:focus, .link-button:active {
    color: white;
    text-decoration: none;
    background-color: #006983; }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  input.btn.btn-primary.btn-strong.btn-login {
    background: #00a6d0;
    /* Old browsers */
    background: -moz-linear-gradient(top, #00a6d0 0%, #00a6d0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a6d0), color-stop(100%, #00a6d0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00a6d0 0%, #00a6d0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00a6d0 0%, #00a6d0 100%);
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#00a6d0), to(#00a6d0));
    background: linear-gradient(to bottom, #00a6d0 0%, #00a6d0 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6d0', endColorstr='#00a6d0',GradientType=0 );
    /* IE6-9 */
    border: 1px solid #007d9d;
    width: 100%;
    margin-top: 6px; }
    input.btn.btn-primary.btn-strong.btn-login:hover, input.btn.btn-primary.btn-strong.btn-login:focus, input.btn.btn-primary.btn-strong.btn-login:active {
      background: #00a6d0;
      /* Old browsers */
      background: -moz-linear-gradient(top, #00a6d0 0%, #007d9d 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a6d0), color-stop(100%, #007d9d));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #00a6d0 0%, #007d9d 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #00a6d0 0%, #007d9d 100%);
      /* Opera 11.10+ */
      /* IE10+ */
      background: -webkit-gradient(linear, left top, left bottom, from(#00a6d0), to(#007d9d));
      background: linear-gradient(to bottom, #00a6d0 0%, #007d9d 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6d0', endColorstr='#007d9d',GradientType=0 );
      /* IE6-9 */
      border: 1px solid #00546a; } }

/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  input.btn.btn-primary.btn-strong.btn-login {
    background: #00a6d0;
    /* Old browsers */
    background: -moz-linear-gradient(top, #00a6d0 0%, #00a6d0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a6d0), color-stop(100%, #00a6d0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00a6d0 0%, #00a6d0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00a6d0 0%, #00a6d0 100%);
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#00a6d0), to(#00a6d0));
    background: linear-gradient(to bottom, #00a6d0 0%, #00a6d0 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6d0', endColorstr='#00a6d0',GradientType=0 );
    /* IE6-9 */
    border: 1px solid #007d9d;
    margin-top: 0; }
    input.btn.btn-primary.btn-strong.btn-login:hover, input.btn.btn-primary.btn-strong.btn-login:focus, input.btn.btn-primary.btn-strong.btn-login:active {
      background: #00a6d0;
      /* Old browsers */
      background: -moz-linear-gradient(top, #00a6d0 0%, #007d9d 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a6d0), color-stop(100%, #007d9d));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #00a6d0 0%, #007d9d 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #00a6d0 0%, #007d9d 100%);
      /* Opera 11.10+ */
      /* IE10+ */
      background: -webkit-gradient(linear, left top, left bottom, from(#00a6d0), to(#007d9d));
      background: linear-gradient(to bottom, #00a6d0 0%, #007d9d 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6d0', endColorstr='#007d9d',GradientType=0 );
      /* IE6-9 */
      border: 1px solid #00546a; } }

/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
.disabled {
  display: none; }

.navbar-inverse .navbar-toggle {
  border-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1) inset, -1px -1px 0 rgba(255, 255, 255, 0.1) inset;
  -moz-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1) inset, -1px -1px 0 rgba(255, 255, 255, 0.1) inset;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1) inset, -1px -1px 0 rgba(255, 255, 255, 0.1) inset; }

.navbar-inverse .navbar-collapse {
  border-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1) inset, -1px -1px 0 rgba(255, 255, 255, 0.1) inset;
  -moz-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1) inset, -1px -1px 0 rgba(255, 255, 255, 0.1) inset;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1) inset, -1px -1px 0 rgba(255, 255, 255, 0.1) inset; }

.navbar-right {
  margin-right: 0; }

.navbar-default {
  background: #00bae9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #00bae9 0%, #1394e9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00bae9), color-stop(100%, #1394e9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00bae9 0%, #1394e9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00bae9 0%, #1394e9 100%);
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, left top, left bottom, from(#00bae9), to(#1394e9));
  background: linear-gradient(to bottom, #00bae9 0%, #1394e9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bae9', endColorstr='#1394e9',GradientType=0 );
  /* IE6-9 */
  border-bottom: 1px solid #006983;
  -webkit-box-shadow: 0 2px 5px #006983;
  -moz-box-shadow: 0 2px 5px #006983;
  box-shadow: 0 2px 5px #006983; }
  .navbar-default .navbar-logo-text {
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 28px;
    font-weight: 700; }
  .navbar-default .navbar-brand {
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 28px;
    font-weight: 700; }
  .navbar-default .navbar-logo-box-center {
    width: 135px;
    float: left;
    position: absolute;
    left: 50%;
    margin-left: -75px !important; }
    .navbar-default .navbar-logo-box-center .navbar-logo {
      background-image: url(../images/pages/logo.png);
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      -moz-background-size: 147px 55px;
      -o-background-size: 147px 55px;
      background-size: 147px 55px;
      width: 147px;
      height: 55px;
      margin-top: -1px; }
  .navbar-default .navbar-logo-box-left {
    width: 135px;
    float: left; }
    .navbar-default .navbar-logo-box-left .navbar-logo {
      background-image: url(../images/pages/logo.png);
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      -moz-background-size: 147px 55px;
      -o-background-size: 147px 55px;
      background-size: 147px 55px;
      width: 147px;
      height: 55px;
      margin-top: -15px; }
  .navbar-default .navbar-home-icon-box {
    float: left;
    height: 50px;
    padding: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1) inset, -1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1) inset, -1px 0 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1) inset, -1px 0 0 rgba(255, 255, 255, 0.1) inset; }
    .navbar-default .navbar-home-icon-box:hover {
      background-color: #00A6D0; }
  .navbar-default .navbar-home-icon-pressed {
    background-color: #00A6D0; }
  .navbar-default .navbar-home-icon {
    background-image: url(../images/pages/home-icon-3.png);
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    -moz-background-size: 35px 30px;
    -o-background-size: 35px 30px;
    background-size: 35px 30px;
    width: 35px;
    height: 30px; }
  .navbar-default .navbar-nav > li > a {
    color: #FFFFFF; }
    .navbar-default .navbar-nav > li > a:hover {
      background-color: #00a6d0; }

.navbar-inverse .navbar-nav .open a, .navbar-inverse .navbar-nav .open a:hover, .navbar-inverse .navbar-nav .open a:focus {
  background-color: transparent; }

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:hover, .navbar-inverse .navbar-nav .active a:focus {
  background-color: #006983; }

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #006983; }

.navbar-default .navbar-nav .active a {
  background-color: #0091b6; }

.navbar-dropdown-link a.dropdown-toggle:hover {
  color: #006983; }

.navbar-gravatar {
  float: left;
  position: relative;
  top: -6px;
  left: -9px;
  border: 1px solid #555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 4px; }

.navbar-user strong {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }

.navbar-dropdown {
  top: auto !important;
  right: -1px !important;
  min-width: 0 !important; }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .navbar-mobile-link {
    display: block !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0px -1px 0 rgba(255, 255, 255, 0.1) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0px -1px 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0px -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 5px; }
    .navbar-mobile-link a {
      text-align: center;
      font-weight: 700;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  .navbar-logo-box-left {
    margin-left: 0; }
  .navbar-mobile-logo {
    display: block !important;
    margin-left: -15px; }
  .navbar-desktop {
    display: none !important; }
  form.navbar-form {
    margin: 0; }
  .forgot-password-icon {
    display: none; }
  .forgot-password-text {
    text-align: center;
    padding-top: 10px; }
    .forgot-password-text a {
      color: white;
      font-weight: 700;
      font-size: 15px; }
  .links-separator {
    display: none; }
  li.dropdown.navbar-dropdown-link.open ul.dropdown-menu li a {
    color: white;
    background-color: #00a6d0;
    margin-top: 5px; }
    li.dropdown.navbar-dropdown-link.open ul.dropdown-menu li a:hover {
      background-color: #006983;
      color: white; } }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .navbar-mobile-link {
    display: block !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0px -1px 0 rgba(255, 255, 255, 0.1) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0px -1px 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0px -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 5px; }
    .navbar-mobile-link a {
      text-align: center;
      font-weight: 700;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  .navbar-logo-box-left {
    margin-left: 0; }
  .navbar-mobile-logo {
    display: block !important;
    margin-left: -15px; }
  .navbar-desktop {
    display: none !important; }
  form.navbar-form {
    margin: 0; }
  .forgot-password-icon {
    display: none; }
  .forgot-password-text {
    text-align: center;
    padding-top: 10px; }
    .forgot-password-text a {
      color: white;
      font-weight: 700;
      font-size: 15px; }
  .links-separator {
    display: none; }
  li.dropdown.navbar-dropdown-link.open ul.dropdown-menu li a {
    color: white;
    background-color: #00a6d0;
    margin-top: 5px; }
    li.dropdown.navbar-dropdown-link.open ul.dropdown-menu li a:hover {
      background-color: #006983;
      color: white; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .navbar-inverse .navbar-collapse {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .navbar-mobile-link {
    display: none !important; }
  .navbar-logo-box-left {
    margin-left: -40px; }
  .navbar-mobile-logo {
    display: none !important; }
  .navbar-desktop {
    display: block !important; }
  form.navbar-form {
    margin: 8px -15px; }
  .forgot-password-icon {
    color: white;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    display: inline-block; }
  p.forgot-password-text {
    display: none; }
  li.forgot-password-text {
    display: block;
    padding-bottom: 9px; }
    li.forgot-password-text a {
      font-weight: 700;
      color: #337AB7; }
  input.form-control.login-field {
    height: 30px;
    width: 200px;
    font-size: 13px; }
  .links-separator {
    display: inline-block;
    padding-top: 9px;
    font-size: 20px;
    color: rgba(0, 84, 106, 0.26); }
  li.dropdown.navbar-dropdown-link.open ul.dropdown-menu li a {
    color: #333333;
    background-color: white;
    text-align: center; }
    li.dropdown.navbar-dropdown-link.open ul.dropdown-menu li a:hover {
      background-color: #006983;
      color: white; }
  .navbar-dropdown-link {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1) inset, -1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1) inset, -1px 0 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1) inset, -1px 0 0 rgba(255, 255, 255, 0.1) inset; }
    .navbar-dropdown-link:hover {
      background-color: #00A6D0; }
    .navbar-dropdown-link a {
      background-color: transparent; }
      .navbar-dropdown-link a:hover {
        background-color: transparent; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .navbar-mobile-link {
    display: none !important; }
  .navbar-mobile-logo {
    display: none !important; }
  .navbar-desktop {
    display: block !important; }
  form.navbar-form {
    margin: 8px -15px; }
  .forgot-password-icon {
    color: white;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    display: inline-block; }
  p.forgot-password-text {
    display: none; }
  li.forgot-password-text {
    display: block;
    padding-bottom: 9px; }
    li.forgot-password-text a {
      font-weight: 700;
      color: #337AB7; }
  input.form-control.login-field {
    height: 30px;
    width: 200px;
    font-size: 13px; }
  .links-separator {
    display: inline-block;
    padding-top: 9px;
    font-size: 20px;
    color: rgba(0, 84, 106, 0.26); }
  li.dropdown.navbar-dropdown-link.open ul.dropdown-menu li a {
    color: #333333;
    background-color: white; }
    li.dropdown.navbar-dropdown-link.open ul.dropdown-menu li a:hover {
      background-color: #006983;
      color: white; }
  .navbar-dropdown-link {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1) inset, -1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1) inset, -1px 0 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1) inset, -1px 0 0 rgba(255, 255, 255, 0.1) inset; }
    .navbar-dropdown-link:hover {
      background-color: #00A6D0; }
    .navbar-dropdown-link a {
      background-color: transparent; }
      .navbar-dropdown-link a:hover {
        background-color: transparent; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .navbar-mobile-link {
    display: none !important; }
  .navbar-mobile-logo {
    display: none !important; }
  .navbar-desktop {
    display: block !important; }
  form.navbar-form {
    margin: 8px -15px; }
  .forgot-password-icon {
    color: white;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    display: inline-block; }
  p.forgot-password-text {
    display: none; }
  li.forgot-password-text {
    display: block;
    padding-bottom: 9px; }
    li.forgot-password-text a {
      font-weight: 700;
      color: #337AB7; }
  input.form-control.login-field {
    height: 30px;
    width: 200px;
    font-size: 13px; }
  .links-separator {
    display: inline-block;
    padding-top: 9px;
    font-size: 20px;
    color: rgba(0, 84, 106, 0.26); }
  li.dropdown.navbar-dropdown-link.open ul.dropdown-menu li a {
    color: #333333;
    background-color: white; }
    li.dropdown.navbar-dropdown-link.open ul.dropdown-menu li a:hover {
      background-color: #006983;
      color: white; }
  .navbar-profile-link a {
    background-color: #00bae9; }
    .navbar-profile-link a:hover {
      background-color: #006983; }
  .navbar-dropdown-link {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1) inset, -1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1) inset, -1px 0 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1) inset, -1px 0 0 rgba(255, 255, 255, 0.1) inset; }
    .navbar-dropdown-link:hover {
      background-color: #00A6D0; }
    .navbar-dropdown-link a {
      background-color: transparent; }
      .navbar-dropdown-link a:hover {
        background-color: transparent; } }

footer {
  position: relative;
  margin: 0 auto;
  width: 100%;
  bottom: 0;
  z-index: 0; }

.footer-wrapper {
  padding: 2em;
  margin-top: 25px;
  background-color: #ededed;
  border-top: 1px solid #d9d9d9;
  -webkit-box-shadow: 0 -1px 15px #d9d9d9;
  -moz-box-shadow: 0 -1px 15px #d9d9d9;
  box-shadow: 0 -1px 15px #d9d9d9; }

.footer-text {
  display: inline; }

.footer-copyright {
  display: inline;
  vertical-align: middle;
  padding-top: 7px;
  margin-left: -40px;
  font-size: 15px;
  letter-spacing: -1px;
  color: #666666; }

.footer-github {
  display: inline; }
  .footer-github a {
    margin-left: 10px;
    color: gray; }
    .footer-github a:hover {
      color: #4183C4; }

.footer-linkin {
  display: inline; }
  .footer-linkin a {
    margin-left: 10px;
    color: gray; }
    .footer-linkin a:hover {
      color: #0976b4; }

.footer-google-plus {
  display: inline; }
  .footer-google-plus a {
    margin-left: 10px;
    color: gray; }
    .footer-google-plus a:hover {
      color: #dd4b39; }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .footer-wrapper {
    margin-top: 0; } }

/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  footer {
    height: 85px; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  footer, .push {
    height: 85px; }
  .footer-wrapper {
    margin-top: 25px; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  footer, .push {
    height: 84px; } }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .home-header {
    text-align: center;
    font-size: 35px;
    padding: 0.5em 0; }
  .home-subheader {
    text-align: center;
    font-size: 16px;
    padding-bottom: 3em; }
  .register-header {
    text-align: center;
    padding-bottom: 0.7em; }
  .home-image {
    background-image: url("../images/pages/home-image.jpg");
    -moz-background-size: 285px auto;
    -o-background-size: 285px auto;
    background-size: 285px auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 285px;
    height: 155px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }
  .registration-form {
    margin-bottom: 2em; } }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .home-header {
    text-align: center;
    font-size: 45px;
    padding: 0.5em 0; }
  .home-subheader {
    text-align: center;
    font-size: 18px;
    padding-bottom: 3em; }
  .register-header {
    text-align: center;
    padding-bottom: 0.7em; }
  .home-image {
    background-image: url("../images/pages/home-image.jpg");
    -moz-background-size: 435px auto;
    -o-background-size: 435px auto;
    background-size: 435px auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 435px;
    height: 280px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .home-header {
    text-align: center;
    font-size: 60px;
    padding: 0.5em 0; }
  .home-subheader {
    text-align: center;
    font-size: 20px;
    padding-bottom: 3em; }
  .register-header {
    text-align: center;
    padding-bottom: 0.7em; }
  .home-image {
    background-image: url("../images/pages/home-image.jpg");
    -moz-background-size: 550px auto;
    -o-background-size: 550px auto;
    background-size: 550px auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 550px;
    height: 355px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .home-header {
    text-align: center;
    font-size: 60px;
    padding: 0.5em 0; }
  .home-subheader {
    text-align: center;
    font-size: 20px;
    padding-bottom: 3em; }
  .register-header {
    text-align: center;
    padding-bottom: 0.7em; }
  .home-image {
    background-image: url("../images/pages/home-image.jpg");
    -moz-background-size: 500px auto;
    -o-background-size: 500px auto;
    background-size: 500px auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 500px;
    height: 355px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    margin-bottom: 50px; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .home-header {
    text-align: center;
    font-size: 60px;
    padding: 0.5em 0; }
  .home-subheader {
    text-align: center;
    font-size: 20px;
    padding-bottom: 3em; }
  .register-header {
    text-align: center;
    padding-bottom: 0.7em; }
  .home-image {
    background-image: url("../images/pages/home-image.jpg");
    -moz-background-size: 500px auto;
    -o-background-size: 500px auto;
    background-size: 500px auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 500px;
    height: 355px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    margin-bottom: 50px; } }

.user-block {
  text-align: center;
  list-style: none; }
  .user-block .avatar {
    margin: auto; }

.user-block .media-object {
  margin: auto; }

.edit-profile-wrapper {
  margin-right: 10px;
  margin-left: 10px; }

.edit-profile-form-wrapper {
  border: 1px solid #bfbfbf;
  -webkit-box-shadow: 0 0 10px #bfbfbf;
  -moz-box-shadow: 0 0 10px #bfbfbf;
  box-shadow: 0 0 10px #bfbfbf;
  padding: 30px;
  background-color: white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; }

.edit-profile-header {
  text-align: center;
  font-weight: 700;
  padding-bottom: 20px; }

.browser-users-header {
  text-align: center;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 36px; }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .users {
    margin-bottom: 0; }
  .user-block {
    margin-bottom: 25px; }
  .edit-profile-form-wrapper {
    margin-top: 50px;
    margin-bottom: 50px; }
  .edit-profile-header {
    font-size: 26px; } }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .users {
    margin-bottom: 0; }
  .user-block {
    margin-bottom: 25px; }
  .edit-profile-form-wrapper {
    margin-top: 50px;
    margin-bottom: 50px; }
  .edit-profile-header {
    font-size: 26px; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .users {
    margin-bottom: 3em; }
  .user-block {
    margin-bottom: 0; }
  .edit-profile-form-wrapper {
    margin-top: 100px;
    margin-bottom: 100px; }
  .edit-profile-header {
    font-size: 36px; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .users {
    margin-bottom: 3em; }
  .user-block {
    margin-bottom: 0; }
  .edit-profile-form-wrapper {
    margin-top: 100px;
    margin-bottom: 100px; }
  .edit-profile-header {
    font-size: 36px; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .users {
    margin-bottom: 3em; }
  .user-block {
    margin-bottom: 0; }
  .edit-profile-form-wrapper {
    margin-top: 100px;
    margin-bottom: 100px; }
  .edit-profile-header {
    font-size: 36px; } }

.remind-form-wrapper {
  background-color: white;
  border: 1px solid #bfbfbf;
  padding: 61px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 15px #bfbfbf;
  -moz-box-shadow: 0 0 15px #bfbfbf;
  box-shadow: 0 0 15px #bfbfbf;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto; }

.remind-form-header {
  text-align: center;
  font-weight: 700;
  padding-bottom: 20px; }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .remind-form-wrapper {
    width: 90%;
    margin-top: 100px;
    margin-bottom: 100px; }
  .remind-form-header {
    font-size: 30px; } }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .remind-form-wrapper {
    width: 90%;
    margin-top: 100px;
    margin-bottom: 100px; }
  .remind-form-header {
    font-size: 30px; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .remind-form-wrapper {
    width: 80%;
    margin-top: 200px;
    margin-bottom: 200px; }
  .remind-form-header {
    font-size: 30px; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .remind-form-wrapper {
    width: 60%;
    margin-top: 200px;
    margin-bottom: 200px; }
  .remind-form-header {
    font-size: 35px; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .remind-form-wrapper {
    width: 50%;
    margin-top: 200px;
    margin-bottom: 200px; }
  .remind-form-header {
    font-size: 35px; } }

* {
  margin: 0; }

a:focus, a:active, .btn:focus, .btn:active, button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, select::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0 !important;
  appearance: none; }

html {
  overflow-y: scroll; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  padding-top: 51px;
  background: #EDEEEF url(../../assets/images/pages/noise-2.png) repeat scroll 0 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden; }

.navbar-padding {
  padding-top: 30px; }

.header-padding {
  padding-top: 30px; }

.container h1:first-of-type {
  margin-top: 0; }

.alert {
  text-align: center;
  font-weight: 700; }

.alert ul li {
  list-style: none;
  margin-left: -40px; }

.bold {
  font-weight: 700; }

.alert-info-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  left: 0;
  z-index: 1000; }

.alert-info {
  color: #31708F;
  background-color: rgba(217, 237, 247, 0.8);
  border-color: #BCE8F1; }
  .alert-info button {
    display: none; }

.alert-danger {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 51px; }

.alert-danger-flash {
  color: #A94442;
  background-color: rgba(242, 222, 222, 0.8);
  border-color: #EBCCD1; }

.centered {
  text-align: center;
  vertical-align: middle;
  margin: auto; }

.pb10 {
  padding-bottom: 10px; }

.pb20 {
  padding-bottom: 20px; }

.pb30 {
  padding-bottom: 30px; }

.col-md-6_5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

input, textarea {
  color: #000; }

.placeholder {
  color: #aaa; }

.media {
  margin-top: 0; }

@media only screen and (max-width: 319px) {
  body {
    display: none; } }

/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .col-md-6_5 {
    float: left; }
  .col-md-6_5 {
    width: 54.16667%; }
  .wrapper {
    margin: 0 auto -109px; } }

/* Large Devices, Wide Screens */
