$white: white;
$backgroundColor: darken(white, 5%);
$borderColor: darken(#F2F2F2, 20%);
$linkButtonTextColor: #333;
$linkButtonHoverColor: darken(#00bae9, 20%);
$primaryButtonColor: #00bae9;
$primaryLoginButtonColor: darken(#00bae9, 5%);
$primaryButtonBorderColor: darken(#00bae9, 10%);
$primaryButtonHoverColor: darken(#00bae9, 15%);
$primaryButtonHoverBorderColor: darken(#00bae9, 25%);