// Navbar
.navbar-default {
  background-color: #00bae9;
  border-bottom: 1px solid darken(#00bae9, 20%);
  box-shadow: 0 2px 5px darken(#00bae9, 20%);
  padding: 5px;

  .navbar-brand {
    /*background-image: url("../images/pages/nook-logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 135px 35px;
    width: 135px;
    height: 35px;*/
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 28px;
    font-weight: 700;
  }

  .navbar-nav > li > a {
    color: #FFFFFF;
    border-radius: 8px;

    &:hover {
      background-color: darken(#00bae9, 5%);
      border-radius: 8px;
    }
  }
}

.navbar-inverse .navbar-nav .open a,
.navbar-inverse .navbar-nav .open a:hover,
.navbar-inverse .navbar-nav .open a:focus {
  background-color: transparent;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:hover,
.navbar-inverse .navbar-nav .active a:focus {
  background-color: darken(#00bae9, 20%);
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: darken(#00bae9, 20%);
}

.navbar-default .navbar-nav .active a {
  background-color: darken(#00bae9, 10%);
}

.navbar-dropdown-link a.dropdown-toggle {
  &:hover {
    color: darken(#00bae9, 20%);
  }
}

.navbar-gravatar {
  float: left;
  position: relative;
  top: -6px;
  left: -9px;
  border: 1px solid #555;
  border-radius: 5px;
  margin-left: 4px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  form.navbar-form {
    margin: 0;
  }

  .forgot-password-icon {
    display: none;
  }

  .forgot-password-text {
    text-align: center;
    padding-top: 10px;

    a {
      color: white;
      font-weight: 700;
      font-size: 15px;
    }
  }

  .links-separator {
    display: none;
  }

  li.dropdown.navbar-dropdown-link.open {
    ul.dropdown-menu {
      li {
        a {
          color: white;
          border-radius: 5px;
          background-color: darken(#00bae9, 5%);
          margin-top: 5px;

          &:hover {
            border-radius: 5px;
            background-color: darken(#00bae9, 20%);
            color: white;
          }
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  form.navbar-form {
    margin: 0;
  }

  .forgot-password-icon {
    display: none;
  }

  .forgot-password-text {
    text-align: center;
    padding-top: 10px;

    a {
      color: white;
      font-weight: 700;
      font-size: 15px;
    }
  }

  .links-separator {
    display: none;
  }

  li.dropdown.navbar-dropdown-link.open {
    ul.dropdown-menu {
      li {
        a {
          color: white;
          border-radius: 5px;
          background-color: darken(#00bae9, 5%);
          margin-top: 5px;

          &:hover {
            border-radius: 5px;
            background-color: darken(#00bae9, 20%);
            color: white;
          }
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  form.navbar-form {
    margin: 8px -15px;
  }

  .forgot-password-icon {
    color: white;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    display: inline-block;
  }

  p.forgot-password-text {
    display: none;
  }

  li.forgot-password-text {
    display: block;
    padding-bottom: 9px;

    a {
      font-weight: 700;
      color: #337AB7;
    }
  }

  input.form-control.login-field {
    height: 30px;
    width: 200px;
    font-size: 13px;
  }

  .links-separator {
    display: inline-block;
    padding-top: 9px;
    font-size: 20px;
    color: rgba(0, 84, 106, 0.26);
  }

  li.dropdown.navbar-dropdown-link.open {
    ul.dropdown-menu {
      li {
        a {
          color: #333333;
          background-color: white;

          &:hover {
            border-radius: 5px;
            background-color: darken(#00bae9, 20%);
            color: white;
          }
        }
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  form.navbar-form {
    margin: 8px -15px;
  }

  .forgot-password-icon {
    color: white;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    display: inline-block;
  }

  p.forgot-password-text {
    display: none;
  }

  li.forgot-password-text {
    display: block;
    padding-bottom: 9px;

    a {
      font-weight: 700;
      color: #337AB7;
    }
  }

  input.form-control.login-field {
    height: 30px;
    width: 200px;
    font-size: 13px;
  }

  .links-separator {
    display: inline-block;
    padding-top: 9px;
    font-size: 20px;
    color: rgba(0, 84, 106, 0.26);
  }

  li.dropdown.navbar-dropdown-link.open {
    ul.dropdown-menu {
      li {
        a {
          color: #333333;
          background-color: white;

          &:hover {
            border-radius: 5px;
            background-color: darken(#00bae9, 20%);
            color: white;
          }
        }
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  form.navbar-form {
    margin: 8px -15px;
  }

  .forgot-password-icon {
    color: white;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    display: inline-block;
  }

  p.forgot-password-text {
    display: none;
  }

  li.forgot-password-text {
    display: block;
    padding-bottom: 9px;

    a {
      font-weight: 700;
      color: #337AB7;
    }
  }

  input.form-control.login-field {
    height: 30px;
    width: 200px;
    font-size: 13px;
  }

  .links-separator {
    display: inline-block;
    padding-top: 9px;
    font-size: 20px;
    color: rgba(0, 84, 106, 0.26);
  }

  li.dropdown.navbar-dropdown-link.open {
    ul.dropdown-menu {
      li {
        a {
          color: #333333;
          background-color: white;

          &:hover {
            border-radius: 5px;
            background-color: darken(#00bae9, 20%);
            color: white;
          }
        }
      }
    }
  }

  .navbar-profile-link {
    a {
      background-color: #00bae9;

      &:hover {
        background-color: darken(#00bae9, 20%);
      }
    }
  }

  .navbar-dropdown-link {
    background-color: #00bae9;

    &:hover {
      background-color: transparent;
    }

    a {
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
  }
}