// Users
.users {
  margin-bottom: 3em;
}

.user-block {
  text-align: center;
  list-style: none;

  .avatar {
    margin: auto;
  }
}

.user-block .media-object {
  margin: auto;
}

.edit-profile-wrapper {
  margin-right: 10px;
  margin-left: 10px;
}

.edit-profile-form-wrapper {
  border: 1px solid darken(#F2F2F2, 20%);
  box-shadow: 0 0 10px darken(#F2F2F2, 20%);
  padding: 30px;
  background-color: white;
  border-radius: 15px;
}

.edit-profile-header {
  text-align: center;
  font-weight: 700;
  padding-bottom: 20px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .edit-profile-form-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .edit-profile-header {
    font-size: 26px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .edit-profile-form-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .edit-profile-header {
    font-size: 26px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .edit-profile-form-wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .edit-profile-header {
    font-size: 36px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .edit-profile-form-wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .edit-profile-header {
    font-size: 36px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .edit-profile-form-wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .edit-profile-header {
    font-size: 36px;
  }
}